/* No files to import found in variables/* */
/* No files to import found in abstractions/* */
html {
  background-color: #FFFFFF;
  background-image: url("../images/Bottom_texture.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

body {
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

a {
  color: #025CCA;
}
a:hover {
  color: #209BB6;
}
a:visited {
  color: #19798F;
}

p {
  font-size: 16px;
  margin: 12px 0;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

input, select, textarea {
  vertical-align: middle;
  font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.l-page {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.l-header,
.l-main,
.l-bottom {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: block;
}

.boxed {
  border-radius: 10px;
  border: 2px solid #4f899e;
  margin: 10px;
  padding: 1em;
  background: rgba(207, 242, 255, 0.85);
  box-shadow: 1px 1px 3px 0px #5d5d5d;
  overflow: auto;
}
.boxed .block__title {
  margin-top: 0;
  min-height: 29px;
  line-height: 29px;
  color: #000000;
  font-size: 17px;
  margin: 0;
  padding: 0 5px 0 43px;
  font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5em;
  background: url(../images/blockheader.png) no-repeat;
}

input[type="submit"] {
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #082830;
  width: auto;
  background: linear-gradient(to bottom, #69cce3 0%, #35b9d7 100%);
  padding: 0 8px;
  cursor: pointer;
  text-indent: 0;
  line-height: 1.7;
}
input[type="submit"]:hover {
  color: #BAE8F3;
  background: linear-gradient(to bottom, #20788d 0%, #11424d 100%);
}

.view-image-gallery-slideshow .views-slideshow-cycle-main-frame {
  margin: auto;
  margin-top: 1em;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row-item {
  width: auto;
  display: inline-block;
  position: relative;
  margin: auto;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .views-field.views-field-rendered .field-content {
  display: flex;
}
.view-image-gallery-slideshow .views-slideshow-cycle-main-frame .field--name-media-title {
  position: absolute;
  box-sizing: border-box;
  color: black;
  text-align: center;
  width: 100%;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_1_1 .views-slideshow-cycle-main-frame-row {
  width: 546px !important;
  height: 483px !important;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_1_1 .views-slideshow-cycle-main-frame-row .landscape .field--name-media-title {
  font-size: 1em;
  padding: 0em 2em;
  top: 385px;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_1_1 .views-slideshow-cycle-main-frame-row .portrait .field--name-media-title {
  font-size: 1em;
  padding: 0em 2em;
  top: 400px;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_2_1 .views-slideshow-cycle-main-frame-row {
  width: 273px !important;
  height: 243px !important;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_2_1 .views-slideshow-cycle-main-frame-row .landscape .field--name-media-title {
  font-size: 0.8em;
  padding: 0em 1.5em;
  top: 188px;
}
.view-image-gallery-slideshow #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_2_1 .views-slideshow-cycle-main-frame-row .portrait .field--name-media-title {
  font-size: 0.8em;
  padding: 0em 1.5em;
  top: 195px;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom {
  display: flex;
  flex-flow: row wrap;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .widget_pager_bottom {
  text-align: center;
  margin: auto;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item img {
  border: 5px solid transparent;
  box-sizing: border-box;
  max-width: unset;
  max-height: unset;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  text-decoration: none;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active img {
  border: 5px solid #efc507;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-controls,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .views-slideshow-slide-counter {
  text-align: center;
  flex: 1 100%;
  order: -1;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_previous a,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-pause a,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-resume a,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_next a {
  text-decoration: none;
  color: black;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_previous img,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-pause img,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-resume img,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc_controls_next img {
  width: 20px;
  height: 20px;
}
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-pause,
.view-image-gallery-slideshow .views-slideshow-controls-bottom .vscc-resume {
  margin: 0 15px;
}

.l-footer {
  display: inline-block;
  width: 100%;
  background-color: #b7daea;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
.l-footer .copyright p {
  margin: 0;
  font-size: 16px;
  font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif;
  color: #0F4652;
}
.l-footer .footer-links a {
  color: #125868;
  font-size: 13px;
  text-decoration: none;
}
.l-footer .footer-links a:visited {
  color: #716133;
}
.l-footer .footer-links a:hover {
  color: #18768B;
  text-decoration: underline;
}

.l-header {
  border-radius: 10px;
  border: 2px solid #4f899e;
  padding: 1em 1em 0 1em;
  background: rgba(207, 242, 255, 0.85);
  box-shadow: 1px 1px 3px 0px #5d5d5d;
  overflow: visible;
  margin-top: 6px;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 1020px) {
  .l-header {
    max-width: calc(1000px - 20px);
  }
}
.l-header .site-logo {
  float: left;
  margin-left: 3%;
  text-align: center;
}
.l-header .site-name {
  margin: 0;
  margin-right: 35px;
  padding-top: 0.5em;
  text-align: center;
}
.l-header .site-name a {
  font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 44px;
  padding: 0;
  margin: 0;
  color: #125564;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.95);
  letter-spacing: 1.5px;
}
.l-header .site-slogan {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #C171A9;
  text-shadow: 1px 1px 1px rgba(26, 25, 25, 0.57);
  letter-spacing: 1.5px;
  font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  margin-right: 35px;
}
.l-header #block-widgets-s-socialmedia-profile-default {
  position: absolute;
  right: 0;
  top: 3em;
  margin: 2px 10px 2px 2px;
}

#file-102,
#file-128--2 {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 650px) {
  #file-102 img,
  #file-128--2 img {
    float: none !important;
    max-width: 100%;
    height: auto !important;
  }
}

#file-147 {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 500px) {
  #file-147 img {
    float: none !important;
    max-width: 100%;
    height: auto !important;
  }
}

#file-148 {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 620px) {
  #file-148 img {
    float: none !important;
    max-width: 100%;
    height: auto !important;
  }
}

#file-128 {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 650px) {
  #file-128 img {
    float: none !important;
    max-width: 100%;
    height: auto !important;
  }
}

.media-gallery-detail {
  float: none;
  margin: auto;
}

.l-region--navigation {
  clear: both;
}

#block-superfish-1 #superfish-1 {
  text-align: center;
}
#block-superfish-1 #superfish-1 li {
  list-style: none;
  display: inline-block;
  margin: 4px;
  float: none;
  text-align: left;
}
#block-superfish-1 #superfish-1 li a {
  display: block;
  height: 27px;
  cursor: pointer;
  text-decoration: none;
  color: #092C34;
  padding: 0 17px;
  line-height: 27px;
  text-align: left;
}
#block-superfish-1 #superfish-1 li a .sf-sub-indicator {
  top: 0;
  background-position: 0 -100px;
  right: -7px;
  position: relative;
  display: inline-block;
}
#block-superfish-1 #superfish-1 li.sf-depth-1 > a {
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #05abe0 100%);
  border: 1px solid #8d793f;
  border-radius: 5px;
}
#block-superfish-1 #superfish-1 li.sf-depth-1 > a:hover {
  background: linear-gradient(to bottom, #2690a9 0%, #0b2d36 100%);
  color: #BAE8F3;
}
#block-superfish-1 #superfish-1 li.sf-depth-1 > a.active {
  background: linear-gradient(to bottom, #85d6e7 0%, #2da5c1 100%);
  color: #082830;
}
#block-superfish-1 #superfish-1 li.sf-depth-1.menuparent > a:after {
  content: '\f0d7';
  font-family: FontAwesome;
  position: relative;
  left: 5px;
}
#block-superfish-1 #superfish-1 li.sfHover > ul {
  left: 0;
  top: 30px;
  background-color: #bae8f3;
  border: 1px solid #49c3df;
}
#block-superfish-1 #superfish-1 li a .sf-sub-indicator {
  display: none;
}
#block-superfish-1 .sf-accordion-toggle {
  display: table;
  margin: auto;
}
#block-superfish-1 #superfish-1-toggle {
  display: block;
  height: 27px;
  cursor: pointer;
  text-decoration: none;
  color: #092C34;
  padding: 0 17px;
  line-height: 27px;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #05abe0 100%);
  border: 1px solid #8d793f;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#block-superfish-1 #superfish-1-toggle:hover {
  background: linear-gradient(to bottom, #2690a9 0%, #0b2d36 100%);
  color: #BAE8F3;
}
#block-superfish-1 #superfish-1-toggle.sf-expanded {
  background: linear-gradient(to bottom, #85d6e7 0%, #2da5c1 100%);
  color: #082830;
}

#superfish-1-accordion {
  display: block;
  text-align: center;
  background-color: #bae8f3;
  border: 1px solid #49c3df;
  margin-bottom: 0.5em;
}
#superfish-1-accordion li a {
  text-decoration: none;
  line-height: 27px;
  color: #092C34;
}
#superfish-1-accordion li a:hover {
  color: #255d98;
}
#superfish-1-accordion li:nth-child(odd) {
  background-color: #bae8f3;
}
#superfish-1-accordion li:nth-child(even) {
  background-color: #E8F9FD;
}
#superfish-1-accordion li:hover {
  background-color: #8BD0E0;
}
#superfish-1-accordion li.menuparent > a:after {
  content: '\f0da';
  margin-left: 0.5em;
  font-family: FontAwesome;
}
#superfish-1-accordion li.menuparent ul {
  display: block;
  background-color: #bae8f3;
  border: 1px solid #49c3df;
  box-sizing: border-box;
  margin-left: 1em;
  width: calc(100% - 1em);
}
#superfish-1-accordion li.menuparent.sf-expanded > a:after {
  content: '\f0d7';
  margin-left: 0.5em;
  font-family: FontAwesome;
}

body.not-front:not(.page-reviews) main#main-content {
  border-radius: 10px;
  border: 2px solid #4f899e;
  margin: 10px;
  padding: 1em;
  background: rgba(207, 242, 255, 0.85);
  box-shadow: 1px 1px 3px 0px #5d5d5d;
}

.reviews-view-panel-page
body.front .title-bar {
  border-radius: 10px;
  border: 2px solid #4f899e;
  margin: 10px;
  padding: 1em;
  background: rgba(207, 242, 255, 0.85);
  box-shadow: 1px 1px 3px 0px #5d5d5d;
  overflow: auto;
}

main#main-content table {
  border-collapse: collapse;
  margin: 1px auto;
  border-style: none;
}
main#main-content table th,
main#main-content table td {
  padding: 10px;
  vertical-align: top;
  text-align: left;
  border-style: none;
  background-color: transparent;
}
main#main-content table th {
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}
main#main-content table tr th {
  background-color: #f8fff1;
  border: 1px solid #bcec7d;
}
main#main-content table tr td {
  background-color: #f8fff1;
  border: 1px solid #bcec7d;
}
main#main-content table thead tr td {
  background-color: transparent;
  border-style: none;
}

ul.tabs {
  border-radius: 10px;
  border: 2px solid #4f899e;
  margin: 10px;
  padding: 1em 1em 0.5em 1em;
  background: rgba(207, 242, 255, 0.85);
  box-shadow: 1px 1px 3px 0px #5d5d5d;
  overflow: auto;
  list-style: none;
}
ul.tabs li a {
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #082830;
  width: auto;
  background: linear-gradient(to bottom, #69cce3 0%, #35b9d7 100%);
  padding: 0 8px;
  cursor: pointer;
  text-indent: 0;
  line-height: 1.7;
  margin-bottom: 0.5em;
}
ul.tabs li a:hover {
  color: #BAE8F3;
  background: linear-gradient(to bottom, #20788d 0%, #11424d 100%);
}
ul.tabs li a.active {
  color: #092C34;
  background: linear-gradient(to bottom, #98dceb 0%, #5ec8df 100%);
}

ul.action-links {
  border-radius: 10px;
  border: 2px solid #4f899e;
  margin: 10px;
  padding: 1em;
  background: rgba(207, 242, 255, 0.85);
  box-shadow: 1px 1px 3px 0px #5d5d5d;
  overflow: auto;
  list-style: none;
}
ul.action-links li {
  padding-left: 1.3em;
}
ul.action-links li a:before {
  content: "\f067";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

ul.breadcrumb {
  border-radius: 10px;
  border: 2px solid #4f899e;
  margin: 10px;
  padding: 1em;
  background: rgba(207, 242, 255, 0.85);
  box-shadow: 1px 1px 3px 0px #5d5d5d;
  overflow: auto;
  list-style: none;
}

.page-title,
.node__title {
  color: #125564;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.95);
  letter-spacing: 1px;
  margin: 5px 0;
  font-size: 28px;
  text-align: center;
  font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.page-title > a,
.node__title > a {
  color: inherit;
  text-decoration: inherit;
}

.media-image {
  margin: 0.5em;
}

.messages {
  border-radius: 5px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin: 6px auto;
}

.responsive-table {
  overflow: auto;
}

.l-bottom {
  display: flex;
  flex-flow: row wrap;
  color: #0B343D;
  font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
  font-size: 0.85em;
}
.l-bottom .l-region {
  flex: 1 1 33%;
  min-width: 250px;
}
.l-bottom #widgets-element-socialmedia_share-default {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.l-bottom #widgets-element-socialmedia_share-default .widgets-element-horizontal {
  margin: 5px 3px;
}
.l-bottom form#mailchimp-signup-subscribe-block-subscribe-to-travel-tips-and-dis-form .form-item input {
  width: 100%;
}
.l-bottom form#mailchimp-signup-subscribe-block-subscribe-to-travel-tips-and-dis-form .form-item-mergevars-EMAIL {
  margin-top: 1em;
}
.l-bottom .form-actions {
  text-align: center;
}

/*# sourceMappingURL=ibhr-omega.styles.css.map */