.boxed {
    border-radius: 10px;
    border: 2px solid #4f899e;
    margin: 10px;
    padding: 1em;
    background: rgba(207, 242, 255, 0.85);
    box-shadow: 1px 1px 3px 0px #5d5d5d;
    overflow: auto;

    .block__title {
    	margin-top: 0;
    	min-height: 29px;
    	line-height: 29px;
    	color: #000000;
    	font-size: 17px;
    	margin: 0;
    	padding: 0 5px 0 43px;
    	font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
    	font-style: normal;
    	font-weight: bold;
    	text-decoration: none;
    	margin-bottom: 0.5em;
    	background: url(../images/blockheader.png) no-repeat;
    }
}

input[type="submit"] {
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #082830;
    width: auto;
    background: linear-gradient(to bottom, #69cce3 0%, #35b9d7 100%);
    padding: 0 8px;
    cursor: pointer;
    text-indent: 0;
    line-height: 1.7;

    &:hover {
        color: #BAE8F3;
        background: linear-gradient(to bottom, #20788d 0%,#11424d 100%);
    }
}

.view-image-gallery-slideshow {
    .views-slideshow-cycle-main-frame {
        margin: auto;
        margin-top: 1em;

        .views-slideshow-cycle-main-frame-row {
            display: flex !important;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .views-slideshow-cycle-main-frame-row-item {
            width: auto;
            display: inline-block;
            position: relative;
            margin: auto;
        }

        .views-field.views-field-rendered .field-content {
            display: flex;
        }

        .field--name-media-title {
            position: absolute;
            box-sizing: border-box;
            color: black;
            text-align: center;
            width: 100%;
        }
    }

    #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_1_1 .views-slideshow-cycle-main-frame-row {
        width: 546px !important;
        height: 483px !important;

        .landscape {
            .field--name-media-title {
                font-size: 1em;
                padding: 0em 2em;
                top: 385px;
            }
        }
        .portrait {
            .field--name-media-title {
                font-size: 1em;
                padding: 0em 2em;
                top: 400px;
            }
        }
    }
    #views_slideshow_cycle_teaser_section_image_gallery_slideshow-panel_pane_2_1 .views-slideshow-cycle-main-frame-row {
        width: 273px !important;
        height: 243px !important;

        .landscape {
            .field--name-media-title {
                font-size: 0.8em;
                padding: 0em 1.5em;
                top: 188px;
            }
        }
        .portrait {
            .field--name-media-title {
                font-size: 0.8em;
                padding: 0em 1.5em;
                top: 195px;
            }
        }
    }

    .views-slideshow-controls-bottom {
        display: flex;
        flex-flow: row wrap;

        .widget_pager_bottom {
            text-align: center;
            margin: auto;
        }

        .views-slideshow-pager-field-item {
            img {
                border: 5px solid transparent;
                box-sizing: border-box;
                max-width: unset;
                max-height: unset;
            }
            
            &.active {
                text-decoration: none;

                img {
                    border: 5px solid #efc507;
                }
            }
        }

        .vscc-controls,
        .views-slideshow-slide-counter {
            text-align: center;
            flex: 1 100%;
            order: -1;
        }

        .vscc_controls_previous,
        .vscc-pause,
        .vscc-resume,
        .vscc_controls_next {
            a {
                text-decoration: none;
                color: black;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
        .vscc-pause,
        .vscc-resume {
            margin: 0 15px;
        }
    }
}
