#file-102,
#file-128--2 {
	text-align: center;

	@include breakpoint(0px 650px) {
		img {
			float: none !important;
			max-width: 100%;
			height: auto !important;
		}
	}
}

#file-147 {
	text-align: center;

	@include breakpoint(0px 500px) {
		img {
			float: none !important;
			max-width: 100%;
			height: auto !important;
		}
	}
}

#file-148 {
	text-align: center;

	@include breakpoint(0px 620px) {
		img {
			float: none !important;
			max-width: 100%;
			height: auto !important;
		}
	}
}

#file-128 {
	text-align: center;

	@include breakpoint(0px 650px) {
		img {
			float: none !important;
			max-width: 100%;
			height: auto !important;
		}
	}
}
