.l-region--navigation {
	clear: both;
}

#block-superfish-1 {
	#superfish-1 {
		text-align: center;

		li {
			list-style: none;
			display: inline-block;
			margin: 4px;
			float: none;
			text-align: left;

			a {
				display: block;
				height: 27px;
				cursor: pointer;
				text-decoration: none;
				color: #092C34;
				padding: 0 17px;
				line-height: 27px;
				text-align: left;
				font-weight: bold;
			    @include fluid-type(700px, 876px, 12px, 16px); // values inside are ($min_width, $max_width, $min_font, $max_font)

				.sf-sub-indicator {
					top: 0;
					background-position: 0 -100px;
					right: -7px;
					position: relative;
					display: inline-block;
				}
			}
		}

		li.sf-depth-1 > a {
			background: #ffffff;
			background: linear-gradient(to bottom, #ffffff 0%,#05abe0 100%);
			border: 1px solid #8d793f;
			border-radius: 5px;

			&:hover {
				background: linear-gradient(to bottom, #2690a9 0%,#0b2d36 100%);
				color: #BAE8F3;
			}

			&.active {
				background: linear-gradient(to bottom, #85d6e7 0%,#2da5c1 100%);
				color: #082830;
			}
		}
		li.sf-depth-1.menuparent > a:after {
			content: '\f0d7';
			font-family: FontAwesome;
			position: relative;
			left: 5px;
		}

		li.sfHover > ul {
			left: 0;
			top: 30px;
			background-color: #bae8f3;
			border: 1px solid #49c3df;
		}

		li a .sf-sub-indicator {
			display: none;
		}
	}

	.sf-accordion-toggle {
		display: table;
		margin: auto;
	}

	#superfish-1-toggle {
		display: block;
		height: 27px;
		cursor: pointer;
		text-decoration: none;
		color: #092C34;
		padding: 0 17px;
		line-height: 27px;
		background: #ffffff;
		background: linear-gradient(to bottom, #ffffff 0%,#05abe0 100%);
		border: 1px solid #8d793f;
		border-radius: 5px;
		margin-top: 0.5em;
		margin-bottom: 0.5em;

		&:hover {
			background: linear-gradient(to bottom, #2690a9 0%,#0b2d36 100%);
			color: #BAE8F3;
		}

		&.sf-expanded {
			background: linear-gradient(to bottom, #85d6e7 0%,#2da5c1 100%);
			color: #082830;
		}
	}
}

#superfish-1-accordion {
	display: block;
	text-align: center;
	background-color: #bae8f3;
	border: 1px solid #49c3df;
	margin-bottom: 0.5em;

	li {
		a {
			text-decoration: none;
			line-height: 27px;
			color: #092C34;

			&:hover {
				color: #255d98;
			}
		}
	}
	li:nth-child(odd) {
	    background-color: #bae8f3;
	}
	li:nth-child(even) {
	    background-color: #E8F9FD;
	}
	li:hover {
	    background-color: #8BD0E0;
	}

	li.menuparent {
		> a:after {
			content: '\f0da';
			margin-left: 0.5em;
			font-family: FontAwesome;
		}

		ul {
			display: block;
			background-color: #bae8f3;
			border: 1px solid #49c3df;
			box-sizing: border-box;
			margin-left: 1em;
			width: calc(100% - 1em);
		}
	}
	li.menuparent.sf-expanded {
		> a:after {
			content: '\f0d7';
			margin-left: 0.5em;
			font-family: FontAwesome;
		}
	}
}
