body.not-front main#main-content {
	border-radius: 10px;
	border: 2px solid #4f899e;
	margin: 10px;
	padding: 1em;
	background: rgba(207, 242, 255, 0.85);
	box-shadow: 1px 1px 3px 0px #5d5d5d;
	overflow: auto;

	table {
		border-collapse: collapse;
		margin: 1px auto;
		border-style: none;

		th, td {
		    padding: 10px;
		    vertical-align: top;
		    text-align: left;
		    border-style: none;
		    background-color: transparent;
		}
		th {
		    text-align: center;
		    vertical-align: middle;
		    padding: 7px;
		}
		tr th {
		    background-color: #f8fff1;
		    border: 1px solid #bcec7d;
		}
		tr td {
			background-color: #f8fff1;
			border: 1px solid #bcec7d;
		}
		thead tr td {
		    background-color: transparent;
		    border-style: none;
		}
	}
}

.page-title {
    color: #125564;
    text-shadow: 1px 2px 3px rgba(255,255,255,0.95);
    letter-spacing: 1px;
    margin: 5px 0;
    font-size: 28px;
    text-align: center;
    font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}