body.front .title-bar {
	border-radius: 10px;
	border: 2px solid #4f899e;
	margin: 10px;
	padding: 1em;
	background: rgba(207, 242, 255, 0.85);
	box-shadow: 1px 1px 3px 0px #5d5d5d;
	overflow: auto;
}

body.not-front main#main-content {
    border-radius: 10px;
    border: 2px solid #4f899e;
    margin: 10px;
    padding: 1em;
    background: rgba(207, 242, 255, 0.85);
    box-shadow: 1px 1px 3px 0px #5d5d5d;
    overflow: auto;
}

main#main-content {
    table {
        border-collapse: collapse;
        margin: 1px auto;
        border-style: none;

        th,
        td {
            padding: 10px;
            vertical-align: top;
            text-align: left;
            border-style: none;
            background-color: transparent;
        }
        th {
            text-align: center;
            vertical-align: middle;
            padding: 7px;
        }
        tr th {
            background-color: #f8fff1;
            border: 1px solid #bcec7d;
        }
        tr td {
            background-color: #f8fff1;
            border: 1px solid #bcec7d;
        }
        thead tr td {
            background-color: transparent;
            border-style: none;
        }
    }
}

ul.tabs {
    border-radius: 10px;
    border: 2px solid #4f899e;
    margin: 10px;
    padding: 1em;
    background: rgba(207, 242, 255, 0.85);
    box-shadow: 1px 1px 3px 0px #5d5d5d;
    overflow: auto;
    list-style: none;

    li a {
        border: 1px solid black;
        border-radius: 3px;
        text-decoration: none;
        font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        color: #082830;
        width: auto;
        background: linear-gradient(to bottom, #69cce3 0%, #35b9d7 100%);
        padding: 0 8px;
        cursor: pointer;
        text-indent: 0;
        line-height: 1.7;

        &:hover {
        	color: #BAE8F3;
        	background: linear-gradient(to bottom, #20788d 0%,#11424d 100%);
        }
        &.active {
        	color: #092C34;
        	background: linear-gradient(to bottom, #98dceb 0%,#5ec8df 100%);
        }
    }
}

ul.action-links {
    border-radius: 10px;
    border: 2px solid #4f899e;
    margin: 10px;
    padding: 1em;
    background: rgba(207, 242, 255, 0.85);
    box-shadow: 1px 1px 3px 0px #5d5d5d;
    overflow: auto;
    list-style: none;

    li {
        padding-left: 1.3em;

        a:before {
            content: "\f067";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
        }
    }
}

ul.breadcrumb {
    border-radius: 10px;
    border: 2px solid #4f899e;
    margin: 10px;
    padding: 1em;
    background: rgba(207, 242, 255, 0.85);
    box-shadow: 1px 1px 3px 0px #5d5d5d;
    overflow: auto;
    list-style: none;
}

.page-title,
.node__title {
    color: #125564;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.95);
    letter-spacing: 1px;
    margin: 5px 0;
    font-size: 28px;
    text-align: center;
    font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;

    > a {
        color: inherit;
        text-decoration: inherit;
    }
}

.media-gallery-view-full {
	.field__items {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	.field__item {
		flex: 1 1 314px;
		display: inline-block;
		max-width: 320px;
	}
}

.media-image {
	margin: 0.5em;
}

.messages {
    padding: 10px 10px 10px 50px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 6px auto;
}
