.l-bottom {
	display: flex;
	flex-flow: row wrap;
	color: #0B343D;
	font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
	font-size: 0.85em;

	.l-region {
	    flex: 1 1 250px;
	}

	#widgets-element-socialmedia_share-default {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.widgets-element-horizontal {
		    margin: 5px 3px;
		}
	}

	form#mailchimp-signup-subscribe-block-subscribe-to-travel-tips-and-dis-form {
		.form-item input {
			width: 100%;
		}
		.form-item-mergevars-EMAIL {
			margin-top: 1em;
		}
	}

	.form-actions {
	    text-align: center;
	}
}