.l-bottom {
	display: flex;
	flex-flow: row wrap;
	color: #0B343D;
	font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
	font-size: 0.85em;

	.l-region {
	    flex: 1 1 33%;
	    min-width: 250px;
	}

	#widgets-element-socialmedia_share-default {
		.widgets-element-horizontal {
		    margin: 5px 3px;
		}
	}
}