html {
    background-color: #FFFFFF;
    background-image: url('../images/Bottom_texture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

body {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

a {
    color: #025CCA;

    &:hover {
        color: #209BB6;
    }
    &:visited {
        color: #19798F;
    }
}

p {
    font-size: 16px;
    margin: 12px 0;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-align: justify;
}

input, select, textarea {
    vertical-align: middle;
    font-family: "Comic Sans MS",Tahoma,Arial,Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.l-page {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.l-header,
.l-main,
.l-bottom {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: block;
}
