html {
	background-color: #FFFFFF;
    background-image: url('../images/Bottom_texture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

a {
	color: #025CCA;

	&:hover {
		color: #209BB6;
	}
	&:visited {
		color: #19798F;
	}
}

body {
	font-family: Tahoma,Arial,Helvetica,Sans-Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

.l-page {
	max-width: 1000px;
	margin: auto;
}