form#user-login,
form#user-pass {
	margin: auto;
	max-width: 500px;

	.form-item {
		display: flex;
		flex-flow: row wrap;

		label {
			width: 96px;
			flex: 0 1 96px;
		}
		input.form-text {
			min-width: 0;
			flex: 1 1 calc(100% - 102px);
		}
	}

	.g-recaptcha {
		display: inline-block;
		overflow-x: auto;
		overflow-y: hidden;
		max-width: 100%;
	}

	#edit-actions {
		text-align: center;
	}
}

form#user-pass {
	.form-item-name {
		display: block;

		label {
			width: auto;
		}
	}
}
